*, *:before, *:after { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

body {
    font-family: "Arial Narrow", Arial, sans-serif;

    height: 100vh;
    display: flex; 
    flex-direction: column; 
}

h1, h2 { font-size: clamp(12px, 2.5vw, 16px);}
h1 { font-weight: bold; text-decoration: none;}
h2, h3, p, figcaption, mark { font-weight: normal;}
h3, p, figcaption, marquee > font, mark { font-size: clamp(12px, 2.5vw, 14px);}
h3, figcaption { padding-bottom: .5rem;}
figcaption, figcaption a {
    font-style: italic;
    margin-top: 0.25rem;
}

a { text-decoration: underline; color: blue;}
a:hover { background-color: blue; color: white; text-decoration: none;}
a:visited { text-decoration: none; }

/* grids - outline each block */
.head { margin-top: 5vh;}
.head p, .head img { display: inline-block;}
.head img { width: 8px;}
#grid, .subgrid {
    display: grid;
    grid-gap: 1.25vw;
    margin-bottom: 1.25vh;
}

#grid > div, .head > div, .content {
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
}
#grid > div, .subgrid > div {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#grid > div, #grid > marquee { aspect-ratio: 1/1;}

/* home page */
.container {
    position: relative;
    width: 50%;
}
.container p, .title p { font-style: italic;}
.ovrtxt { position: absolute;}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.overlay img { aspect-ratio: 1/1;}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 200ms ease;
}
  
.container:hover .overlay {
    opacity: 1;
}


/* content */
.content {
    height: 100vh;
    display: grid;
    grid-gap: 1em;
    margin-bottom: 1em;
    overflow-y: scroll;
}
.ovrtxt { padding-right: .75em;} 
.content img {
    max-height: 100%; 
    max-width: 100%;
}
.border img { border: solid 1px black;}

.home a { color: black;}
.home a:hover { background-color: black; color: white;}

/* gallery */
.gallery, .gallery2, .gallery3 { 
    grid-gap: 0.5em;
    display: grid;
}

.gallery img, .gallery2 img, .gallery3 img {
    margin-top: 0;
}

/* slideshow */
.slideshow {
	width: 100%;
	object-fit: cover;
	position: relative;
}

.slideshow .slideBck,
.slideshow .slideNxt {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide0 {
	display: none;
	width: 100%;
	height: auto;
}

.slide0 img {
	position: relative;
	display: flex;
}

/*gallery button*/
.igBck,
.igNxt {
	position: absolute;
    max-width: 20px;
	top: 45%;
	z-index: 10;
	cursor: pointer;
	border: none;

	font-size: clamp(25px, 2.5vw, 36px)
}
.slideshow a:hover { background-color: transparent !important; text-decoration: none;}

.on, .igBck:hover .off, .igNxt:hover .off {
    display: block;
}
.off, .igNxt:hover .on, .igBck:hover .on {
    display: none;
}

.igBck { left: 2.5%; background-image: url('/imgs/slidebck.png');}
.igBck:hover { background-image: url('/imgs/slidebck-active.png');}
.igNxt { right: 2.5%; background-image: url('/imgs/slidenxt.png');}
.igNxt:hover { background-image: url('/imgs/slidenxt-active.png');}

/* footer */
footer { margin-top: auto;}

/* scrollbar */
::-webkit-scrollbar { width: .75em; }
::-webkit-scrollbar-thumb {
    padding: 0 4px;
    background-color: white;
    outline: 1px solid black;
}

/* responsive grid */
@media (max-width: 699px) {
    .subgrid, #grid, .content, footer {
        margin-right: 4vw;
        margin-left: 4vw;
    }
    .subgrid, #grid { grid-template-columns: 1fr 1fr; }

    .content { grid-template-columns: 1fr; }
    .window { grid-column: 2;}
    .gallery2 { grid-template-columns: 1fr; }
}

@media (min-width: 700px) {
    .subgrid, #grid, .content, footer {
        margin-right: 12vw;
        margin-left: 12vw;
    }
    .subgrid, #grid, .gallery3 { grid-template-columns: repeat(3, 1fr); }

    .content { grid-template-columns: repeat(3, 1fr);}
    .content > div { grid-column: 2/4;}
    .window { grid-column: 3;}
    .title, .side { grid-column: 1/2 !important;}
    .gallery2 { grid-template-columns: 1fr 1fr;}
}