*, *:before, *:after { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}

body {
    font-family: "Arial", Arial, sans-serif;
    margin: 20px;
    height: 100vh;
    display: flex; 
    flex-direction: column; 
}

p { font-size: clamp(12px, 2.5vw, 14px);}
